@charset "utf-8";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
  text-align: center;
}

.nav-toggle {
  display: none;
}
/* 共通inner */
.inner {
  max-width: 1100px; /* PC時 */
  margin: 0 auto; /* 中央寄せ */
}

/* ヘッダー */
.header {
  background: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logo i {
  color: #777;
}

.btn-contact {
  background: #6ba7eb;
  color: #fff;
  padding: 12px 14px;
  font-size: 12px;
  text-decoration: none;
}

.btn-contact:hover {
  color: #333;
  transition: 0.3s;
}

/* Hero セクション */
.hero {
  background: url("../img/keyvisual/keyvisual.jpg") no-repeat center/cover;
  padding: 400px 0;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  color: #6ba7eb;
  font-size: 65px;
  font-weight: 700;
  padding-bottom: 30px;
}

.hero-text p {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.hero-image {
  width: 100%;
  height: 100%;
}

/* WORK */
.work {
  background: #e3f2fd;
  padding-top: 50px;
  /* padding: 80px 0; */
}
.work-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 80px; */
}

.work-image {
  /* 親でセンタリングしておくと安定します */
  display: flex;
  justify-content: center;
}

.work-image img {
  width: 250px;
  display: block;
  padding-left: 250px;
}
.work-text h2 {
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
}
.work-text p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  text-align: center;
  padding: 35px 150px 35px 100px;
}

/* SKILLS */
.skills {
  background: #fff;
  padding-bottom: 70px;
}
.skills h2 {
  font-size: 40px;
  letter-spacing: 10px;
  padding: 50px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  justify-items: center;
}
.skills img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0.7;
}

.skills img:hover {
  opacity: 1;
}

/* PLAN */
.plan {
  background: #d0dfea;
  padding: 50px 20px;
  text-align: center;
}

.plan h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 6px;
  margin-bottom: 50px;
  color: #333;
}

/* テーブル全体 */
.plan table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 26px;
  background: #fff;
  table-layout: fixed;
}

/* セル共通 */
.plan th,
.plan td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center; /* ← 全部中央揃え */
  vertical-align: middle;
}

/* 左列（項目名）を太字にする */
.plan th:first-child,
.plan td:first-child {
  font-weight: bold;
}

/* ヘッダー行（PLAN行） */
.plan thead th {
  background: #6ba7eb;
  font-weight: bold;
}

/* STANDARD PLAN の左境界線 */
.plan thead th:nth-child(3),
.plan tbody td:nth-child(3) {
  border-left: 2px solid #fff;
}

/* PRICE行 */
.plan tbody tr:nth-child(1) td {
  background: #f9f9f9;
}

/* DELIVERY行 */
.plan tbody tr:nth-child(2) td {
  background: #e0efff;
}

/* IMPROVEMENT行 */
.plan tbody tr:nth-child(4) td {
  background: #e0efff;
}
/* SNS */
.sns {
  background: #e3f2fd;
  padding: 200px; /* 上下200px余白 */
}

.sns-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-item {
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  padding: 25px; /* 基本は25px間隔 */
  width: 185px;
}

.sns-item:hover {
  transition: 0.5s;
  background: #fff;
}

/* フッター */
.footer {
  background: #cfd8dc; /* 背景色 */
  padding: 20px 0 25px; /* 上20px 下25px */
}

.footer-inner {
  text-align: right; /* テキストを右寄せ */
}

.footer-inner p {
  font-size: 10px; /* フォントサイズ */
  letter-spacing: 0.5px; /* 文字間隔 */
  margin: 0; /* デフォルト余白を消す */
}

/* ===========================
   TAB版 (max-width: 1199px)
   =========================== */

@media (max-width: 1199px) {
  /* 共通inner → 横幅97%に */
  .inner {
    max-width: 97%;
    box-sizing: border-box;
  }

  /* ヘッダー */
  .btn-contact {
    font-size: 11px;
    padding: 10px 12px;
  }

  .btn-contact:hover {
    color: #333;
    transition: 0.3s;
  }

  /* Hero セクション */
  .hero {
    background: url("../img/keyvisual/keyvisual.jpg") no-repeat center/cover;
    padding: 250px 0; /* 上下250px余白 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 65px; /* PCより小さめ、SPより大きめ */
    font-weight: 700;
    color: #6ba7eb; /* 青色 */
    margin: 0px; /* 下余白 */
  }

  .hero-text p {
    font-size: 40px; /* サブ見出し */
    font-weight: 700;
    color: #fff; /* 白色 */
    margin: 0;
  }

  /* WORK → 横並び解除して縦並びに */
  .work-inner {
    display: block; /* ← flex解除 */
    text-align: center; /* 中央揃え */
  }

  .work-image img {
    width: 70%; /* 画面幅の7割 */
    max-width: 250px;
    margin: 0 auto; /* 中央寄せ */
    display: block;
    padding-left: 0;
  }

  .work-text h2 {
    font-size: 45px;
    padding-top: 20px;
  }

  .work-text p {
    font-size: 15px;
    word-break: break-all;
    text-align: center;
    padding: 35px 0 50px 0;
  }

  /* SKILLS */
  .skills {
    background: #fff;
    text-align: center;
  }

  .skills h2 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 30px;
  }

  .skills-grid {
    display: block; /* PCのgridを解除して縦並びに */
  }

  .skills img {
    width: 300px;
    height: 300px;
    display: block;
    opacity: 0.7;
  }

  .skills img:hover {
    opacity: 1;
  }

  .skills img:nth-child(3n) {
    padding-bottom: 100px;
  }

  /* PLAN */
  .plan {
    background: #d0dfea;
    padding: 50px 0px;
    text-align: center;
  }

  .plan h2 {
    font-size: 50px;
    letter-spacing: 6px;
    margin-bottom: 50px;
    color: #333;
  }

  .plan thead th {
    font-size: 14px;
    line-height: 22px;
  }
  .plan tdody td {
    font-size: 12px;
  }

  /* SNS */
  .sns {
    background: #e3f2fd;
    padding: 200px; /* 上下200px余白 */
  }

  .sns-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sns-item {
    color: #8c8c8c;
    overflow: hidden;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    padding: 25px; /* 基本は25px間隔 */
    width: 185px;
  }

  .sns-item:hover {
    transition: 0.5s;
    background: #fff;
  }
}

/* ===========================
   SP版 (max-width: 767px)
   =========================== */
@media (max-width: 767px) {
  .inner {
    max-width: 97%; /* 指定があった「SP/TABは97%」にする */
    box-sizing: border-box; /* padding込みで幅を計算 */
    margin: 0 auto;
  }
  /* ヘッダー */
  /* Contactボタンは非表示 */
  .btn-contact {
    display: none;
  }

  /* ハンバーガーメニュー */

  .nav-toggle {
    display: flex; /*flexで縦並び */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    background: #fff;
    border: 1px solid #ddd; /* 薄い枠線 */
    border-radius: 4px; /* 角丸 */
    cursor: pointer;
    padding: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* 写真のような薄い影 */
  }

  .nav-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background: #888; /* 写真のように薄めの色 */
    border-radius: 2px;
    margin: 3px 0;
  }

  /* ロゴを少し大きめに */
  .logo i {
    font-size: 48px;
    color: #777;
  }

  /* Hero セクション */
  .hero {
    background: url("../img/keyvisual/keyvisual.jpg") no-repeat center/cover;
    padding: 200px 0; /* 上下200px余白 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 40px; /* SP用に縮小 */
    font-weight: 700;
    color: #6ba7eb; /* 青色 */
  }

  .hero-text p {
    font-size: 30px; /* サブ見出し用 */
    font-weight: 700;
    color: #fff; /* 白色 */
    margin: 0;
  }

  /* WORK */
  /* WORKセクション：SPは縦並びに */
  .work-inner {
    display: block; /* ← flex解除 */
    text-align: center; /* 中央揃え */
  }

  .work-image img {
    width: 70%; /* 画面幅の7割 */
    max-width: 250px;
    margin: 0 auto; /* 中央寄せ */
    display: block;
    padding-left: 0;
  }

  .work-text {
    text-align: center; /* 見出しと文章を中央寄せ */
  }

  .work-text h2 {
    font-size: 45px;
    padding-top: 20px;
  }

  .work-text p {
    font-size: 15px;
    word-break: break-all;
    text-align: center;
    padding: 35px 0;
  }
  /* SKILLS */
  .skills {
    background: #fff;
    text-align: center;
  }

  .skills h2 {
    font-size: 28px;
    letter-spacing: 6px;
    margin-bottom: 30px;
  }

  .skills-grid {
    display: block; /* PCのgridを解除して縦並びに */
  }

  .skills img {
    width: 300px;
    height: 300px;
    display: block;
    opacity: 0.7;
  }

  .skills img:hover {
    opacity: 1;
  }

  .skills img:nth-child(3n) {
    padding-bottom: 100px;
  }

  /* PLAN */
  .plan {
    background: #d0dfea;
    padding: 50px 0px;
    text-align: center;
  }

  .plan h2 {
    font-size: 50px;
    letter-spacing: 6px;
    margin-bottom: 50px;
    color: #333;
  }

  .plan thead th {
    font-size: 14px;
    line-height: 22px;
  }
  .plan tdody td {
    font-size: 12px;
  }

  /* SNS */
  .sns {
    padding: 50px 15px;
  }
  .sns-inner {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .sns-item {
    font-size: 40px;
    padding: 50px;
  }

  .sns-item:hover {
    transition: 0.5s;
    background: #fff;
  }

  /* Footer */
  .footer-inner {
    text-align: right;
    padding-right: 10px;
  }
}
